ul.menungang {
    list-style: none;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul.menungang li {
 display: inline;
}
.menutren {
    background-color: cadetblue;
    height: 30px;
   
}

ul.menungang a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: segoe ui light;
    font-size: 13px;
    display: inline-block;
    padding-left: 6px;
   padding-right: 6px;
   padding-top: 6px;
   padding-bottom: 6px;
   transition: 0.4s;

}
ul.menungang a:hover {
    background-color: rgb(8, 120, 124);


