.bo{
    width: 500px;
    height: 500px;
    position: relative;
}
.bo img.xoay{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px; left: 75px;
    transition: 1s;
}
.bo:hover img.xoay{
  transform: rotate(360deg);
    
}

.bo img.truoc{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px; left: 75px;
    transition: 0.4s;
    opacity: 0.5;
}